<div class="d-flex justify-center pb-8 pt-8">
    <img src="img/logoSomos.jpg" alt="Somos Solar" width="150" />
</div>

<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">SomoS Solar</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Ccontrole de Clientes</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/">Dashboard</MudNavLink>
        <MudNavLink Href="/clientes">Clientes</MudNavLink>
        <MudNavLink Href="/instalacoes">Instalações</MudNavLink>
        <MudNavLink Href="/billing" Disabled="true">Equipamentos</MudNavLink>
        
        <MudNavGroup Title="Cadastro" Expanded="true">
            <MudNavLink Href="/enderecos">Endereco</MudNavLink>
            <MudNavLink Href="/equipamentos/adicionar">Equipamentos</MudNavLink>
            <MudNavLink Href="/instacaoes">Instalação</MudNavLink>
        </MudNavGroup>

        <MudNavLink Href="/sair">Sair</MudNavLink>
    </MudNavMenu>
</MudPaper>